
<div class="columns is-multiline">
  <div class="column hvr-grow">
    <div class="card " routerLink="/home/configurador/gestores">
      <div class="card-content ">
        <p class="title has-text-dark">
          <i class="fa fa-users has-text-success"></i> Gestores
        </p>
        <p class="subtitle has-text-dark">
          Configura tus gestores
        </p>
      </div>
    </div>
  </div>

  <div class="column hvr-grow">
    <div class="card " routerLink="/home/configurador/instalaciones">
      <div class="card-content">
        <p class="title has-text-dark">
          <i class="fa fa-building has-text-success"></i>
          Instalaciones
        </p>
        <p class="subtitle has-text-dark">
          Visualiza las instalaciones y sus gestores.
        </p>
      </div>
    </div>
  </div>

  <div class="column hvr-grow">
    <div class="card " routerLink="/home/configurador/alertas">
      <div class="card-content">
        <p class="title has-text-dark">
          <i class="fa fa-bell has-text-success"></i>
          Alertas
        </p>
        <p class="subtitle has-text-dark">
          Configura tus alertas
        </p>
      </div>
    </div>
  </div>
</div>


