<p-toast position="bottom-right"></p-toast>
<div class="container">
  <div class="columns is-multiline ">
    <div class="column is-half ">
      <h1 class="title has-text-weight-light ">Notificaciones</h1>
      <h1 *ngIf="(notifications$|async).length == 0 " class="subtitle has-text-weight-light">No existen notificaciones pendientes de leer.</h1>
      <div *ngFor="let not of notifications$ | async">
        <article class="message is-link mt-5 mb-5" >
          <div class="message-header">
            <p>{{not.header}}</p>
            <button pTooltip="Marcar como leída" class="delete" (click)="readNotification(not)" aria-label="delete"></button>
          </div>
          <div class="message-body">
           {{not.message}}
          </div>
        </article>
      </div>
    </div>
  </div>
</div>
