.panel-tabs:not(:last-child), .panel-block:not(:last-child){
  border: none;
}
.panel-icon{
  font-size: 18px;
}


.menu-title{
  color:#848484;
  font-weight: 300;
}

hr{
  background-color:#24c623 ;
  margin: 1rem 0;
}
