<section class="hero is-small">
  <div class="hero-body">
    <p class="title">
      Bienvenido al portal de cliente,<br/>
    </p>
    <p class="subtitle">
      El portal es un punto único de acceso que proporciona información a tiempo real de los servicios prestados
      en tus instalaciones.
    </p>
    <br/>
    <p class="subtitle">Vamos a ayudarte en la configuración:</p>
    <div class="box">
      <p-accordion>
        <p-accordionTab header="Introducción">
          Actualmente te encuentras en el menu de bienvenida, pulsa en el botón siguiente, arriba a la derecha.
        </p-accordionTab>
        <p-accordionTab header="Paso 1 Creación de gestores">
          En el paso 1, vamos a crear los gestores, que serán las personas que recibirán las alertas informativas relacionadas con las instalaciones elegidas.
          <br/>
          Distinguimos el gestor principal de carácter obligatorio, y los gestores secundarios, de carácter opcional.<br/> <br/>Imagen a continuación:
          <img class="image mt-5 box " src="assets/images/promoter-step.png" alt="paso creación gestores">
        </p-accordionTab>
        <p-accordionTab header="Paso 2 Creación de alertas">
          Content 2
        </p-accordionTab>
        <p-accordionTab header="Paso 3 Acceso al portal">
          Content 3
        </p-accordionTab>
      </p-accordion>

    </div>
  </div>
</section>
