<div id="login" style="background-image: url('/assets/images/bg-01.jpg');">
  <div class="login-card">

    <div class="card-title">
      <h1 class="title">Nueva contraseña</h1>
    </div>

    <div class="content">
      <!--begin form!-->
      <form [formGroup]="form" (ngSubmit)="resetPassword()" novalidate>
        <input [formControlName]="'password'" id="password" type="password" name="password" title="password"
               placeholder="Escribe la nueva contraseña" required autofocus/>
        <p class="help is-danger" *ngIf="form.get('password').hasError('required') && form.get('password').touched">
          *Contraseña obligatoria
        </p>
        <button type="submit" class="btn btn-primary" [disabled]="!form.valid">Cambiar contraseña</button>
      </form>
      <!--End form!-->
    </div>
  </div>
</div>
