/* You can add global styles to this file, and also import other style files */

@import '~bulma-extensions/dist/css/bulma-extensions.min.css';
@import '~bulma-extensions/bulma-steps/dist/css/bulma-steps.min.css';
@import '~bulma-extensions/bulma-checkradio/dist/css/bulma-checkradio.min.css';
@import '~bulma-extensions/bulma-switch/dist/css/bulma-switch.min.css';
@import "~@ng-select/ng-select/themes/default.theme.css";

$base-color: #24c623;
$grey-color: #f4f4f4 ;

/*Remove line border around element click*/
*:focus {
  outline: none;
}


.has-background-eninter{
 background:$base-color!important;
}
.has-background-greys{
  background:$grey-color!important;
}


#login {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
  width: 100%;
  min-height: 100vh;
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
  flex-wrap: wrap;
  padding: 15px;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  position: relative;
  z-index: 1;

}
#login .login-card {
  background: #fff;
  width: 24rem;
  box-shadow: 0 0 7px 0 rgba(0, 0, 0, 0.11);
  border-radius: 12px!important;
}
#login .login-card .card-title {
  background: #24c623;
  padding: 2rem;
  border-radius: 6px!important;
}
#login .login-card .card-title h1 {
  color: #fff;
  text-align: center;
  font-size: 1.6rem;
}
#login .login-card .content {
  padding: 3rem 2.5rem 5rem;
}
#login .login-card #email, #login .login-card #password {
  display: block;
  width: 100%;
  font-size: 1.2rem;
  margin-bottom: 1rem;
  padding: 0.25rem 0;
  border: none;
  border-bottom: 1px solid #dbdbdb;
  transition: all .5s;
}
#login .login-card #email:hover, #login .login-card #password:hover {
  border-color: #7a7a7a;
}
#login .login-card #email:active, #login .login-card #email:focus, #login .login-card #password:active, #login .login-card #password:focus {
  border-color: #00d1b2;
}
#login .login-card .checkbox {
  color: #b5b5b5;
  font-size: 0.8rem;
}
#login .login-card .checkbox span {
  margin-left: 0.5rem;
}
#login .login-card a {
  font-size: 0.8rem;
}
#login .login-card .options {
  color: #b5b5b5;
  margin-bottom: 1.5rem;
}
#login .login-card button {
  cursor: pointer;
  font-size: 1.2rem;
  color: white;
  border-radius: 2rem;
  display: block;
  width: 100%;
  background: #24c623;
  border: 1px solid white;
  padding: 0.9rem 0 1.1rem;
  transition: color .5s, border-color .5s;
}
#login .login-card button:hover, #login .login-card button:focus {
  color: #fbf7ff;
  border-color: #339e2b;
}
#login .login-card button:active {
  transform: translateY(1px);
}

label {
  cursor: pointer;
}

.regular-checkbox {
  display: none;
}

.regular-checkbox + label {
  background-color: #fafafa;
  border: 1px solid #dbdbdb;
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.05);
  padding: 7px;
  border-radius: 3px;
  display: inline-block;
  position: relative;
}

.regular-checkbox:checked + label {
  background-color: #e9ecee;
}

.regular-checkbox:checked + label:after {
  content: '\2714';
  font-size: 11px;
  position: absolute;
  top: 0;
  left: 3px;
  color: #b5b5b5;
}

input:focus,
select:focus,
textarea:focus,
button:focus {
  outline: none;
}

#login::before {
  content: "";
  display: block;
  position: absolute;
  z-index: -1;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  background-color: rgba(255, 255, 255, .9);
}
.card{
  box-shadow: none;
}

